html,
body {
  min-height: 110% !important;
  background-color: #333;
}

.barraProgresso {
    width:100%;
    position:fixed;
    bottom: 0px;
    padding-bottom: 10px;
    background-color: #333;
}

.barraProgresso label {
    text-align: center;
    width: 100%;
}

.barraProgresso div.progress {
    height: 20px;
    width: 80%;
    margin: 0 auto;
}