.corpoPedido {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.selectsIniciais {
    margin: 0 auto;
}

.empresasDisponiveis {
    margin-top: 5%;
}

.empresasDisponiveis .empresas {
    margin-top: 25px;
}

.empresas .card {
    min-height: 130px;
    max-height: 130px;
    margin-bottom: 20px;
}

.empresas .card-body{
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 10px;
}

.empresas .card:hover {
    cursor: pointer;
    opacity: 0.8;
}

label {
    color: white !important;
}